<h2 *ngIf="stopName; else noStopName">Arrivals for {{stopName}}</h2>
<ng-template #noStopName><h2>Arrivals</h2></ng-template>
<ol *ngIf="arrivals; else loadingResults">
  <li *ngFor="let arrival of arrivals">
      <div class="arrival-container">
        <img src="assets/buses-roundel.svg" class="bus-logo">
        <div class="details">
          <span class="line-number">{{arrival.lineNumber}}</span>
          <span class="destination">{{arrival.destination}}</span>
          <span class="arrival-time">{{arrival.arrivalInMinutes | arrivalTime}}</span>
        </div>
      </div>
  </li>
</ol>
<ng-template #loadingResults><app-loading-spinner></app-loading-spinner></ng-template>