<form #form="ngForm" class="params-form">
  <span><b>Postcode: </b></span><input type="text" [(ngModel)]="postcode" name="postcode">
  <span><b>Radius (metres): </b></span><input type="number" [(ngModel)]="radius" name="radius">
  <span><b>Max stops: </b></span><input type="number" [(ngModel)]="maxStops" name="maxStops">
</form>
<h2>List of stops near {{postcode}}</h2>
<ul>
  <li *ngFor="let stop of stops">
    <a routerLink="/stop/{{stop.id}}">
      <span>{{stop.name}}</span><span *ngIf="stop.towards"> towards {{stop.towards}}</span>
      </a>
  </li>
</ul>