.params-form {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;

    span {
        margin-right: 4px;
    }

    input {
        margin-right: 24px;
        border-radius: 16px;
        padding: 4px;
        border: 1px solid #ccc;

        font-size: 100%;
        text-align: center;
    }
}

.results li {
    list-style: none;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.no-results, .error-message {
    display: flex;
    justify-content: center;
    font-size: 150%;
}